.mat-toolbar{
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri,
     'Trebuchet MS', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     background-color: #75B1D0;
     color: white;
}

.btn-block{
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri,
   'Trebuchet MS', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: #75B1D0;
   color: white;
   border: 1px solid currentColor;
   border-radius: 20px;
   height: 50px;
}

.form-group{
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri,
   'Trebuchet MS', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}