
<mat-card class="main-card"  fxFlex="100%">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title> New visit </mat-card-title>
        </mat-card-header>

        <mat-card>
            <mat-card-header>
              <div mat-card-avatar></div>
              <mat-card-title>Important notes:</mat-card-title><br/>
              <div>
              <label *ngIf='res.allergies'>Allergies: {{res.allergies}}</label><br/>
              <label *ngIf='res.specialPrecautions'>SpecialPrecautions: {{res.specialPrecautions}}</label><br/>
              <label *ngIf='res.patientHistory'>PatientHistory: {{res.patientHistory}}</label><br/>
              <label *ngIf='res.familyHitory'>FamilyHitory: {{res.familyHitory}}</label><br/>
              <label *ngIf='res.notes'>Notes: {{res.notes}}</label><br/>
            </div>
            </mat-card-header>
        </mat-card>

        <section>
            <div fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="center center" >
                <form [formGroup]="visitForm" (ngSubmit)="onSubmit()"
                  fxLayout="column" fxFlex="50%" fxLayoutGap="10px" fxLayoutAlign="center">
              
                            <mat-form-field class="form-group" appearance="outline" fxFlex="50%">
                                <mat-label for="complains">Complaint</mat-label>

                                <textarea matInput rows="5" formControlName="complains" placeholder="Complains"
                                    required></textarea>
                            </mat-form-field>
                            <mat-form-field class="form-group" appearance="outline" fxFlex="50%">
                                <mat-label for="examination">Examination</mat-label>

                                <textarea matInput rows="5" formControlName="examination" placeholder="Examination"
                                    required></textarea>
                            </mat-form-field>
                            <mat-form-field class="form-group" appearance="outline" fxFlex="50%">
                                <mat-label for="general">General</mat-label>

                                <textarea matInput rows="5" formControlName="general" placeholder="General"
                                    required></textarea>
                            </mat-form-field>
                            <mat-form-field class="form-group" appearance="outline" fxFlex="50%">
                                <mat-label for="systems">Systems</mat-label>

                                <textarea matInput rows="5" formControlName="systems" placeholder="Systems"
                                    required></textarea>
                            </mat-form-field>
                            <mat-form-field class="form-group" appearance="outline" fxFlex="50%">
                                <mat-label for="investigations">Investigations</mat-label>

                                <textarea matInput rows="5" formControlName="investigations"
                                    placeholder="Investigations" required></textarea>
                            </mat-form-field>
                            <mat-form-field class="form-group" appearance="outline" fxFlex="50%">
                                <mat-label for="plan">Plan</mat-label>

                                <textarea matInput rows="5" formControlName="plan" placeholder="Plan"
                                    required></textarea>
                            </mat-form-field>
                            <mat-form-field class="form-group" appearance="outline" fxFlex="50%">
                                <mat-label for="treatment">Treatment</mat-label>

                                <textarea matInput rows="5" formControlName="treatment" placeholder="Treatment"
                                    required></textarea>
                            </mat-form-field>
                            <mat-form-field class="form-group" appearance="outline" fxFlex="50%">
                                <mat-label for="Notes">Notes</mat-label>

                                <textarea matInput rows="5" formControlName="notes" placeholder="Notes"></textarea>
                            </mat-form-field>
                        <button mat-stroked-button  class="btn-block"  [disabled]="visitForm.invalid">
                            Add visit </button>
                    </form>
                    </div>
                </section>

    </mat-card>
</mat-card>
