<!-- <button mat-stroked-button (click)="addVisit()" class="btn-block" > + Add Visit</button> -->

<p-table #searchTable [columns]="cols" [value]="visits" [reorderableColumns]="true" [paginator]="true" [rows]="10"
    pageLinkSize="3" [rowsPerPageOptions]="[5,10,15,20,25]" [paginatorDropdownAppendTo]="'body'" [resetPageOnSort]=false
    [responsive]="true">

    <ng-template pTemplate="caption">
        <div class="p-d-flex">
            <span class="p-input-icon-right p-ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="searchTable.filterGlobal($event.target.value, 'contains')"
                    placeholder="Search keyword" />
            </span>
            <button mat-icon-button (click)="addVisit()">
                <mat-icon>note_add</mat-icon>
              </button>
        </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body"  let-visit let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{visit[col.field]}}
            </td>
            <td >
                  <button mat-icon-button (click)="view(visit.appointmentID)">
                    <mat-icon>visibility</mat-icon>
                  </button>
                  <button mat-icon-button (click)="editVisit(visit.appointmentID)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button (click)="deleteVisit(visit.appointmentID)">
                    <mat-icon>delete</mat-icon>
                  </button>
            </td>
        </tr>
    </ng-template>
</p-table>